@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
    box-sizing: border-box;
}

input {
    all: unset;
    box-sizing: border-box;
    appearance: none;
}

body {
    background-color: #fefefe;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    color: #222222;
}

button {
    background-color: #fefefe;
    color: #222222;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    transition: all 0.1s ease-in-out;
    outline: 2px solid rgba(0, 153, 51, 0.9);
    border-radius: 5px;
}

select:focus,
select:focus-within {
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 153, 51, 0.15);
    outline: none;
}

form {
    width: 100%;
}

.root {
    max-width: 960px;
}

.main {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

/* Google Fonts */
.material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 100, "opsz" 48;
    color: #009933;
    font-weight: 600;
}

@media all and (max-width: 768px) {
    .main {
        max-width: 320px;
        margin: 0 auto;
    }

    .container {
        max-width: 320px;
        margin: 0 auto;
    }

    .nav {
        max-width: auto;
        margin: 20px auto;
        margin-left: 0px;
    }

    .nav__box {
        margin: 0 10px;
    }

    .nav__Btn {
        font-size: 14px;
        margin: 0 4px;
    }

    .nav__logo {
        margin: 0 5px;
    }

    .nav__logo img {
        width: 48px;
    }

    .material-symbols-outlined {
        font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 100, "opsz" 48;
        color: #009933;
        font-weight: 400;
    }

    .content__img {
        margin: 10px auto;
    }
}
