/* Main page */
.root__title {
    margin-top: 25px;
    padding-left: 15px;
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 15px;
    border-bottom: #009933 2.5px solid;
}
